{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>
            Доказано, что мысли — материальны, а в сочетании с
            определенностью цели, настойчивостью и жгучим желанием реализовать
            их в материальном благе они — сильнодействующие факторы.
            В свое время Эдвин С. Барнс открыл некий закон, основная идея
            которого звучит так: человек становится богаче, когда думает. Он
            пришел к пониманию этого не сразу. Барнс начал с заветного желания
            стать компаньоном самого великого Эдисона.
            Главной особенностью желания Барнса была его направленная
            определенность. Он хотел работать с Эдисоном, а не на него. Внимательно
            проследите за описанием, как он пришел к исполнению этого желания, и
            вы лучше поймете принципы, на которых зиждется путь к благосостоянию.
        </p>
        <button class="btn btn-danger">Кнопка</button>
    </div>
{% endblock %}
